#homepage-info {
  color: black;
  font-family: "Ezarion", sans-serif;
  padding-top: 5%;
  text-align: center;
}

h3 {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

#homepage-banner {
  background-color: grey;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}

#homepage-about {
  text-align: center;
}

.d-block {
  height: 250px;
}

body {
  font-family: "Ezarion", sans-serif;
}
